.app{
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;

  flex-direction: column;

  overflow: hidden;

  .content{
    flex-grow: 1;

    overflow-y: scroll;
  }

  .h-fit-content{
    height: fit-content;
  }
}
