<div class="modal-header">
  <h4 class="modal-title">{{ vehicleId ? 'Editar Veículo' : 'Adicionar Veículo' }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="row gy-3">
    <div class="col-12 col-md-4">
      <app-custom-input
        [control]="marca"
        label="Marca"
        placeholder="Digite a marca do veículo"
      ></app-custom-input>
    </div>

    <div class="col-12 col-md-4">
      <app-custom-input
        [control]="modelo"
        label="Modelo"
        placeholder="Digite o modelo do veículo"
      ></app-custom-input>
    </div>

    <div class="col-12 col-md-4">
      <app-custom-input
        [control]="ano"
        label="Ano"
        type="number"
        placeholder="Digite o ano do veículo"
      ></app-custom-input>
    </div>

    <!-- <div class="col-12 col-md-4">
      <app-custom-input
        [control]="km"
        label="Quilometragem"
        type="number"
        placeholder="Digite a quilometragem do veículo"
      ></app-custom-input>
    </div> -->

    <div class="col-12 col-md-4">
      <app-custom-input
        [control]="placa"
        label="Placa"
        placeholder="Digite a placa do veículo"
      ></app-custom-input>
    </div>

    <div class="col-12 col-md-4">
      <app-custom-input
        [control]="numeroChassi"
        label="Número do Chassi"
        placeholder="Digite o número do chassi"
      ></app-custom-input>
    </div>

    <div class="col-12 col-md-4">
      <app-custom-input
        [control]="cor"
        label="Cor"
        placeholder="Digite a cor do veículo"
      ></app-custom-input>
    </div>

    <div class="col-12 col-md-8">
      <div
      class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
      <app-custom-input [control]="cpfCnpjControl" label="CPF/CNPJ" placeholder="Digite o CPF ou CNPJ"
          type="numeroIdentificacao"></app-custom-input>
  </div>
    </div>

    <div class="col-12 col-md-4 ">
      <div class="row ">
        <div class="col">
          <span *ngIf="clientName !== ''">Nome do cliente:</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{ clientName }}

        </div>

      </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancelar</button>
    <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()" (click)="onSubmit()">Salvar</button>
  </div>
</div>

